
* {
    box-sizing: border-box;
}

.w3-content{max-width:1200px;margin:auto}

body {
  font-family: Arial, Helvetica, sans-serif;
  border:0px;
  margin:0px;
  background-color: white;
}

h3{
  text-align: center;
  font:arial;
  font-size:20px;
}

.header {
  background-color:white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  max-width:1200px;
  margin:auto
}

.footer{
  background-color:none;
  text-align:center;
  color:white;
  padding:10px;
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:1%;
  }

.center{
  margin-left:7%;
}


#logo{
  width:350px;
  margin-bottom:0px;
}

#headerPhoto{
  width:95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label{
    width:300px;
    display:inline-block;
    padding:10px;
    font-size:1.2em;
    font-weight:bold;
    font-style: italic;
}

form {
  width:100%;
  padding:30px;
  margin-left: 10%;
  margin-right: 10%;
}

form input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color:black;
}

form input[type=submit] {
    display:inline-block;
    width:40%;
    padding: 2px;
    background:rgb(43, 119, 235);
    color: white;
    font-size: 17px;
    border-radius: 15px;
    border: 1px solid grey;
}

form input[type=submit]:hover {
    display:inline-block;
    width:40%;
    padding: 2px;
    background: white;
    color: rgb(43, 119, 235);
    font-size: 17px;
    border: 1.5px solid rgb(43, 119, 235);
    font-weight:bold;
}

a.cancel:link, a.cancel:active, a.cancel:visited{
    display:inline-block;
    width:40%;
    padding: 2px;
    background: rgb(208, 209, 209);
    color: darkred;
    font-size: 17px;
    border: 1px solid grey;
}

a.cancel:hover{
    background: white;
    color: red;
    border: 1.5px solid red;
}

#aLogo {
  background-color: white;
  border: white;
}


.responsive {
    padding: 0 12px;
    float: left;
    width: 20%;
}

.imagine{
  width: 100%;
  height: auto;
}



#loading{
  width:15%;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
}

#listaProduse{
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
}

.detalii{
  float: right;
  font-style: normal;
}


.hrFooter {
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
  }

.search{
  margin:auto;
  max-width:300px;
}
.nume{
    padding:5px;
    text-align: center;
    display: inline-block;
    font-size:14px;
    font:arial;
}

form input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color:rgb(48, 48, 48);
}
form button {
    float: right;
    width: 20%;
    padding: 2px;
    background: rgb(208, 209, 209);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
}

.pret{
    padding:5px;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight: bold;
    font-style: italic;
}

a:link, a:visited {
    background-color: white;
    border-radius: 15px;
    color: #414141;
    border: 1px solid #e7e7e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight:bold;
    
}

a:hover, a:active {
    background-color:rgb(43, 119, 235);
    color: black;
    border:solid 1px #777;
}

.imgProdus{
    width:80px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight:bold;
}

@media only screen and (min-width: 769px) {
    .responsive {
        width: 100%;
        margin: 6px 0;
    }
    .produs{
      vertical-align: top;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #logo{
     width:100%;
     display: block;
     float:center;
   }
    .header{
      width:100%;
    }
}

@media only screen and (max-width: 480px) {

   #logo{
     width:100%;
     display: block;
     float:center;
   }
   .center{
      margin:0px;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}